[Unit]
Description=Backup paperless docker volumes to NAS using restic (triggered by systemd timer)
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/{{ paperless_user }}/paperless-ngx/backup-paperless-restic2nas.sh

[Install]
WantedBy=multi-user.target
