[Unit]
Description=Run regular backups of paperless

[Timer]
OnBootSec=15min
# OnUnitActiveSec=1d
OnUnitActiveSec=10min

[Install]
WantedBy=timers.target
